<%= turbo_frame_tag "modal" do %>
  <dialog class="modal" open data-controller="modals" data-action="turbo:submit-end->modals#close">
    <div class="modal-title">
      <h1><%= title %></h1>
    </div>
    <div class="modal-body">
      <%= yield %>
    </div>
  </dialog>
<% end %>
